<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">

-<suite name="Suite">

<!-- Suite -->


-<test name="Test">


-<classes>

<class name="Smoke_Test.Single_Card_Creation"/>

<class name="Smoke_Test.Bulk_Cards_Creation"/>

<class name="Smoke_Test.Marketing_Flyers"/>

<class name="Smoke_Test.Certificate_Creation"/>

</classes>

</test>

<!-- Test -->


</suite>
